<div class="choose-quizz__container">
  <div class="quizz-cards">
    <app-quizz-cards
      Id="1"
      [title]="'Qual tripulação de One Piece você deveria se juntar?'"
      [description]="
        'O mar está chamando! Você tem o espírito de um verdadeiro pirata? Descubra qual tripulação de One Piece combina mais com você e zarpe para a Grand Line!'
      "
      [photoCover]="'assets/imgs/onepiece.png'"
    >
    </app-quizz-cards
    ><app-quizz-cards
      Id="2"
      [title]="'Qual tipo de guerreiro de Bleach você seria?'"
      [description]="
        'Você seria um Shinigami, um Quincy ou talvez um Arrancar? Pegue sua Zanpakutō e descubra qual papel você desempenharia na guerra entre os mundos!'
      "
      [photoCover]="'assets/imgs/bleach.png'"
    >
    </app-quizz-cards
    ><app-quizz-cards
      Id="3"
      [title]="'Qual personagem de Dragon Ball você seria?'"
      [description]="
        'Faça o teste e descubra qual personagem de Dragon Ball você seria! Você tem o espírito de um Saiyajin ou a astúcia de um vilão?'
      "
      [photoCover]="'assets/imgs/dragonball.png'"
    >
    </app-quizz-cards
    ><app-quizz-cards
      Id="4"
      [title]="'Qual personagem de Naruto você seria?'"
      [description]="
        'O caminho do ninja é cheio de desafios. Você seria um prodígio silencioso, um guerreiro destemido ou alguém guiado pela vingança? Descubra quem você realmente seria no mundo de Naruto!'
      "
      [photoCover]="'assets/imgs/naruto.webp'"
    >
    </app-quizz-cards
    ><app-quizz-cards
      Id="5"
      [title]="'Qual personagem de Attack on Titan você seria?'"
      [description]="
        'Em um mundo onde a sobrevivência é tudo, quem você seria? Um líder estrategista, um soldado implacável ou um visionário revolucionário? Descubra agora!'
      "
      [photoCover]="'assets/imgs/atk.webp'"
    >
    </app-quizz-cards
    ><app-quizz-cards
      Id="6"
      [title]="'Qual personagem de Fullmetal Alchemist você seria?'"
      [description]="
        'A alquimia é baseada na troca equivalente, mas e a sua personalidade? Descubra qual personagem de Fullmetal Alchemist mais combina com você e seu jeito de encarar a vida!'
      "
      [photoCover]="'assets/imgs/fullmetal.webp'"
    >
    </app-quizz-cards>
  </div>
</div>
